footer
    .copyright
        span.name BRUCE BENSON 
        span ©2020. All Rights Reserved
    .social
        a.instagram(href="/" aria-label="Bruce on Instagram")
        a.linkedin(href="/" aria-label="Bruce on LinkedIn")