footer
    .copyright
        span.name BRUCE BENSON 
        span ©2020. All Rights Reserved
    .social
        a.instagram(href="https://www.instagram.com/brucebensondesign/" aria-label="Bruce on Instagram" target="_blank")
            img(src="/assets/images/instagram-logo.svg")
        a.linkedin(href="https://www.linkedin.com/in/bruce-benson-415352b2/" aria-label="Bruce on LinkedIn" target="_blank")
            img(src="/assets/images/linkedin-logo.svg")