doctype html
html(lang="en")
  include head

  body
    include loader
    include nav
    .slides
      section#intro.slide.in-view
        .background
          picture
            //- source(srcset="/assets/images/office/greenStripe.webp" type="image/webp")
            //- source(srcset="/assets/images/office/greenStripe@1x.jpg" type="image/jpeg")
            source(data-srcset="/assets/images/sketches/sketch1.png" type="image/png")
            img(class="lazy" data-src="/assets/images/sketches/sketch1.png" alt="random doodles" src="/assets/images/sketches/sketch-super-small.png")
        h1 
          span.intro-text MY NAME IS BRUCE BENSON AND I DO…
          span.primary-text.main-heading
            span SOME KIND 
            span OF DESIGN*
          //- span.disclaimer * I HATE KEEPING UP WITH LABELS - UX/UI/PRODUCT/VISUAL/PRODUCTION - I FIGURE THINGS OUT AND TRY TO MAKE THEM LOOK COOL ;)
          span.disclaimer * I HATE KEEPING UP WITH LABELS - UX, UI, PRODUCT, VISUAL, ETC. I FIGURE THINGS OUT AND TRY TO MAKE THEM LOOK COOL ;)
      section#office.slide
        .background
          picture
            source(data-srcset="/assets/images/office/greenStripe.webp" type="image/webp")
            source(data-srcset="/assets/images/office/greenStripe@1x.jpg" type="image/jpeg")
            img(class="lazy" data-src="/assets/images/office/greenStripe@1x.jpg" alt="3d rendering of old school computer" src="/assets/images/office/office-super-small.jpg")
        .project-title
            a.project-title__link(href="/office.html")
              h2.main-heading Microsoft Office 365
                span UX/UI, SUPER SECRET PRODUCT DESIGN
      section#azure.slide
        .background
          picture
            source(data-srcset="/assets/images/azure/playfab_header@2x.webp" type="image/webp")
            source(data-srcset="/assets/images/azure/playfab-header@2x.jpg" type="image/jpeg")
            img(class="lazy" data-src="/assets/images/azure/playfab-header@2x.jpg" alt="3d rendering of arcade" src="/assets/images/azure/playfab-super-small.jpg")
        .project-title.block-style
          a.project-title__link(href="/azure.html")
            h2.main-heading Azure Playfab
              span UX/UI, DESIGN SYSTEM
      section#tmobile.slide
        .background
          picture
            source(data-srcset="/assets/images/tmobile/tmobile_header@2x.webp" type="image/webp")
            source(data-srcset="/assets/images/tmobile/tmobile-header@2x.jpg" type="image/jpeg")
            img(class="lazy" data-src="/assets/images/tmobile/tmobile-header@2x.jpg" alt="3d rendering of phone" src="/assets/images/tmobile/tmobile-super-small.jpg")
        .project-title
            a.project-title__link(href="/tmobile.html")
              h2.main-heading T-Mobile DIGITS
              span UX/UI, PRODUCT DESIGN
      section#xbox.slide
        .background
          picture
            source(data-srcset="/assets/images/xbox/xbox_header@2x.webp" type="image/webp")
            source(data-srcset="/assets/images/xbox/xbox-header@2x.jpg" type="image/jpeg")
            img(class="lazy" data-src="/assets/images/xbox-header@2x.jpg" alt="3d rendering of arcade" src="/assets/images/xbox/xbox-super-small.jpg")
        .project-title.block-style
            a.project-title__link(href="/xbox.html")
              h2.main-heading Xbox Design Studio
                span UX/UI, PRODUCTION
      //- section#shudder.slide
      //-   .background
      //-     picture
      //-       source(data-srcset="/assets/images/azure/playfab_header@2x.webp" type="image/webp")
      //-       source(data-srcset="/assets/images/azure/playfab-header@2x.jpg" type="image/jpeg")
      //-       img(class="lazy" data-src="/assets/images/azure/playfab-header@2x.jpg" alt="3d rendering of arcade")
      //-   .project-title
      //-       a.project-title__link(href="/")
      //-         h2.main-heading Shudder
      //-           span COMING SOON • UX/UI, PRODUCT DESIGN
      section#about.slide
        .background
          picture
            source(data-srcset="/assets/images/about/about-header-right.webp" type="image/webp")
            source(data-srcset="/assets/images/about/about-header-right.jpg" type="image/jpeg")
            img(class="lazy" data-src="/assets/images/about/about-header-right.jpg" alt="actual picture of Bruce's work space" src="/assets/images/about/about-super-small.jpg")
        .project-title.block-style
            a.project-title__link(href="/about.html")
              h2.main-heading ABOUT
                span WHO THE #@%&amp; IS THIS GUY?