html
  head
    title Bruce Benson, some kind of designer
  
    link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    style(type="text/css").
      body {
        visibility: hidden;
        opacity: 0;
      }

  body
    include nav
    .slides
      section#intro.slide.in-view
        .background
        h1 
          span.intro-text MY NAME IS BRUCE BENSON AND I DO…
          span.primary-text.main-heading
            span SOME KIND 
            span OF DESIGN*
          //- span.disclaimer * I HATE KEEPING UP WITH LABELS - UX/UI/PRODUCT/VISUAL/PRODUCTION - I FIGURE THINGS OUT AND TRY TO MAKE THEM LOOK COOL ;)
          span.disclaimer * I HATE KEEPING UP WITH LABELS - UX, UI, PRODUCT, VISUAL, ETC. I FIGURE THINGS OUT AND TRY TO MAKE THEM LOOK COOL ;)
      section#office.slide
        .background
        .project-title
            a.project-title__link(href="/project.html")
              h2.main-heading Microsoft Office 365
                span UX/UI, SUPER SECRET PRODUCT DESIGN
      section#azure.slide
        .background
        .project-title.block-style
          a.project-title__link(href="/project.html")
            h2.main-heading Azure Playfab
              span UX/UI, DESIGN SYSTEM
      section#tmobile.slide
        .background
        .project-title
            a.project-title__link(href="/project.html")
              h2.main-heading T-Mobile DIGITS
              span UX/UI, PRODUCT DESIGN
      section#xbox.slide
        .background
        .project-title.block-style
            a.project-title__link(href="/project.html")
              h2.main-heading Xbox Design Studio
                span UX/UI, PRODUCTION
      section#shudder.slide
        .background
        .project-title
            a.project-title__link(href="/project.html")
              h2.main-heading Shudder
                span COMING SOON • UX/UI, PRODUCT DESIGN
      section#about.slide
        .background
        .project-title.block-style
            a.project-title__link(href="/project.html")
              h2.main-heading ABOUT
                span WHO THE #@%&amp; IS THIS GUY?