nav
    .logo Bruce Benson
    button#nav-trigger(aria-label="open navigation menu")
    ul.nav-links.hidden
        li
            a(href="/") Home
        li
            a(href="/project.html") Office 365 Commerce
        li
            a(href="/project.html") Azure Playfab
        li
            a(href="/project.html") T-Mobile DIGITS
        li
            a(href="/project.html") Xbox Design Studio
        li
            a(href="/project.html") Sketchbook
        li
            a(href="/project.html") About