nav
    a.logo(href="/") Bruce Benson
    button#nav-trigger(aria-label="open navigation menu" aria-haspopup="true")
    ul.nav-links.hidden
        li
            a(href="/") Home
        li
            a(href="/office.html") Office 365 Commerce
        li
            a(href="/azure.html") Azure Playfab
        li
            a(href="/tmobile.html") T-Mobile DIGITS
        li
            a(href="/xbox.html") Xbox Design Studio
        li
            a(href="/sketchbook.html") Sketchbook
        li
            a(href="/about.html") About