nav
    button#nav-trigger(aria-label="open navigation menu")
    ul.nav-links.hidden
        li
            a(href="/") Home
        li
            a(href="/") Office 365 Commerce
        li
            a(href="/") Azure Playfab
        li
            a(href="/") T-Mobile DIGITS
        li
            a(href="/") Xbox Design Studio
        li
            a(href="/") Sketchbook
        li
            a(href="/") About