doctype html
html(lang="en")
  include head

  body.project.tmobile
    include loader
    include nav

    .project-page

      header
        picture
          source(srcset="/assets/images/tmobile/tmobile_header@2x.webp" type="image/webp")
          source(srcset="/assets/images/tmobile/tmobile-header@2x.jpg" type="image/jpeg")
          img(src="/assets/images/tmobile/tmobile-header@2x.jpg" alt="3d rendering of phone")
    
      section.two-column
        .two-column__heading
            h1.project-page__title T-MOBILE DIGITS 
            span.sub-head UX/UI, DESIGN SYSTEM
            h2.section-title 
              span
                span.label Client: 
                span T-Mobile 
              span
                span.label Agency: 
                span Collabera
        
        .two-column__description
          p.
            I worked as a UX designer for T-Mobile on a native mobile/tablet and desktop webapp. The concept of this product, Digits, is simple enough: add and use multiple phone lines on a single phone. Except, while I was working on the Digits team, the actual project I was working on was a rebrand and repackaging of the app for enterpise customers.

          p
            span The project was pretty straightforward if there is such a thing, but each customer 
            i (whom must remain unnamed) 
            span had their own sets of requirements and challenges.
          
          p.
            But with Digits as a starting point, the team got started. Another UX designer and myself were responsible for the audio and video calling, voicemail, visual voicemail, and settings features. We were also heavily involved in contact management, and how the app would “speak” with the phone, or device it was running on. 
      
      section.full-image
        picture
          source(srcset="/assets/images/tmobile/tmobile_1@2x.webp" type="image/webp")
          source(srcset="/assets/images/tmobile/tmobile-1@2x.jpg" type="image/jpeg")
          img(src="/assets/images/tmobile/tmobile-1@2x.jpg" alt="ux information architecture of tmobile work")
      
      section.two-column
        .two-column__heading
        
        .two-column__description
          p.
            Unfortunately, there’s too much inside baseball and heavy NDA on this project, so I’m only sharing a few things from the publically released consumer Digits I worked on. The challenges of the enterprise apps concerned, in no particular order: PTSN vs. VOIP (calling methods and returns), issued device management vs. BYOD (bring-you-own-device isn’t as cool as BYOB), multiple directory contact management (both centrally managed and user managed), multi-channel and multi-line notifications, and data compliance. 

          p.
            I know that is really unhelpful to read, even vague, so the TL:DR is that we spent a lot of time working with engineering partners to understand system capabilities and limitations, drawing flowcharts and arguing over whiteboards, to make a product that served our B2B users to the best of our abilities.
        
      section.full-image
        picture
          source(srcset="/assets/images/tmobile/tmobile_2@2x.webp" type="image/webp")
          source(srcset="/assets/images/tmobile/tmobile-2@2x.jpg" type="image/jpeg")
          img(src="/assets/images/tmobile/tmobile-2@2x.jpg" alt="visual comps of tmobile work")
    
    .next-project.xbox
      picture
        source(srcset="/assets/images/nextProject_xbox@2x.webp" type="image/webp")
        source(srcset="/assets/images/next-project-xbox@2x.jpg" type="image/jpeg")
        img(src="/assets/images/next-project-xbox@2x.jpg" alt="xbox teaser image")
      a(href="/xbox.html")        
        span View Next Project
        span.title XBOX DESIGN STUDIO

    include footer