doctype html
html(lang="en")
  include head

  body.project.xbox
    include nav
    include loader

    .project-page

      header
        picture
          source(data-srcset="/assets/images/xbox/xbox_header@2x.webp" type="image/webp")
          source(data-srcset="/assets/images/xbox/xbox-header@2x.jpg" type="image/jpeg")
          img(class="lazy" data-src="/assets/images/xbox/xbox-header@2x.jpg" alt="3d rendering of arcade" src="/assets/images/xbox/xbox-super-small.jpg")
    
      section.two-column
        .two-column__heading
            h1.project-page__title XBOX DESIGN STUDIO
            span.sub-head UX/UI, SUPER SECRET PRODUCT DESIGN
            h2.section-title 
              span
                span.label Client: 
                span Microsoft Xbox
              span
                span.label Agency: 
                span Collabera
        
        .two-column__description
          p.
            Off and on I’ve accumulated a couple years of time at the Xbox Design Studio, working a variety of projects both large and small. And that’s a bit of a pun, as Xbox has apps for mobile, desktop, and the television with the Xbox console. I learned a lot, designing for every screen size, and every input method - work that includes the localization of of marketing assets, creating and managing design libraries for designers and developers,  and working with different feature teams to build out user flows and scenarios.

          p.
            Design parity is essential on many projects, and Xbox is no different. Customers use features between mobile, desktop, and console, and may even switch between platforms during certain workflows. 
          
          p.
            I find there’s always a level of tension between how we designers balance when to invoke a native OS solution versus when we provide our own bespoke solution. This highlights the need to stay current with all the software and hardware touchpoints where customers interface with your products.
      
      section.full-image
        picture
          source(data-srcset="/assets/images/xbox/xbox_1@2x.webp" type="image/webp")
          source(data-srcset="/assets/images/xbox/xbox-1@2x.jpg" type="image/jpeg")
          img(class="lazy" data-src="/assets/images/xbox/xbox-1@2x.jpg" alt="ux information architecture of tmobile work" src="/assets/images/xbox/super-small-xbox-1@2x.jpg")
      
      section.two-column
        .two-column__heading
        
        .two-column__description
          video(autoplay="", loop="", muted="", poster="assets/video/PC_uploadProfile.jpg")
            source(data-src="/assets/video/xbox-image.webm" type="video/webm")
            source(data-src="/assets/video/xbox-image.mp4" type="video/mp4")
            span Sorry, your browser doesn't support embedded videos.
          p.
            Uploading and editing a photo for a user’s profile is a pretty common experience across platforms, and definitely not unique to Xbox. In fact, for a long time Xbox provided user profile pics.  

          p
            span This pretty simple feature is something I always think about, especially since I’ve spent most of my time as a designer at large companies. From the initial ask for designs, to the feature being implemented and live for customers, the time elapsed was a little over a month. That’s the fastest release I’ve ever seen, 
            i haha.
          p
            span.
              The next feature, Looking For Group (LFG), is a social feature with workflows across devices. LFG allows users to create postings that allow like-minded players to join gaming sessions. A typical scenario is a post created for a future date, moderated throughout the day on a mobile phone, before a game session is launched on PC or console. The experience is also transitory by default, with all actions being taken while engaged in other tasks. In the following example, seen below, the user is watching (a paused) pirate movie, making a quick post to play a pirate game later. 
            i Arrgh mateys, good times.
        
      section.full-image
        picture
          source(data-srcset="/assets/images/xbox/xbox_2@2x.webp" type="image/webp")
          source(data-srcset="/assets/images/xbox/xbox-2@2x.jpg" type="image/jpeg")
          img(class="lazy" data-src="/assets/images/xbox/xbox-2@2x.jpg" alt="visual comps of tmobile work" src="/assets/images/xbox/super-small-xbox-2@2x.jpg")
      
      section.two-column
        .two-column__heading
        
        .two-column__description
          p.
            One of the most recent projects I worked on was Xbox Game Pass, for mobile and PC. I ended up spending quite some time working on creating shared design libraries. This is an interesting project, where an abundance of content forces a variety of different treatments to both provide both visual (non-competing) interest and differentiation of media type. Trying to both allow images to breathe while allowing for richness through density is always a balancing act.
      
      section.full-image
        picture
          source(data-srcset="/assets/images/xbox/xbox_3@2x.webp" type="image/webp")
          source(data-srcset="/assets/images/xbox/xbox-3@2x.jpg" type="image/jpeg")
          img(class="lazy" data-src="/assets/images/xbox/xbox-3@2x.jpg" alt="visual comps of tmobile work" src="/assets/images/xbox/super-small-xbox-3@2x.jpg")
      
    .next-project.office
      picture
        source(data-srcset="/assets/images/nextProject_office365@2x.webp" type="image/webp")
        source(data-srcset="/assets/images/next-project-office-365@2x.jpg" type="image/jpeg")
        img(class="lazy" data-src="/assets/images/next-project-office-365@2x.jpg" alt="office 365 project teaser image")
      a(href="/office.html")        
        span View Next Project
        span.title MICROSOFT OFFICE 365

    include footer