html
  head
    title Bruce Benson, some kind of designer
  
    link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  body.project
    include nav

    .project-page

      header
      
      section.two-column
        .two-column__heading
            h1.project-page__title XBOX DESIGN STUDIO
            span.sub-head UX/UI, SUPER SECRET PRODUCT DESIGN
            h2.section-title 
              span
                span.label Client: 
                span Microsoft Xbox
              span
                span.label Agency: 
                span Collabera
        
        .two-column__description
          p.
            Nulla euismod augue vel nisl facilisis, quis interdum mauris mattis. Duis non magna et ligula sagittis ornare nec at nibh. Integer ut quam finibus enim efficitur vulputate sed nec diam. In semper felis pharetra lacus luctus consectetur. Sed nec accumsan nibh, ut fermentum dolor. Donec egestas euismod lorem, sed fermentum leo pretium ac. Praesent sed massa condimentum, sollicitudin risus ut, rhoncus ipsum.
          p.
            Fusce ultricies, metus ac ultricies rhoncus, enim lorem feugiat magna, varius varius ligula sapien sit amet arcu. Aenean sollicitudin pretium augue,consectetur lacinia felis fringilla a. Phasellus tempor hendrerit varius. Aenean eget leo in urna imperdiet semper. Cras rutrum lorem eget augue ullamcorper, nec efficitur mauris vehicula. Etiam convallis, nibh ut fermentum volutpat, felis nunc faucibus orci, eu dictum nibh arcu quis nisi. Vestibulum id commodo elit. Cras malesuada augue quis posuere imperdiet. Ut nunc dolor, posuere eu justo id, tincidunt pharetra libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed at nibh id tellus vehicula laoreet. Fusce ex ex, fermentum et mollis sit amet, sagittis elementum est. Morbi fermentum sodales porta. Morbi in justo malesuada, hendrerit mauris non, ultrices nibh.
      
      section.full-image
        img(src="https://www.placecage.com/1200/675" alt="nick cage")
      
      section.two-column
        .two-column__heading
          h2.project-page__title-secondary COHERENCE VS CONSISTENCY
          span.sub-head CROSS PLATFORM
        
        .two-column__description
          p.
            Cras pellentesque aliquet bibendum. Nulla rutrum posuere pharetra. Phasellus posuere arcu sit amet tempor accumsan. In volutpat pretium consequat. Suspendisse aliquam viverra finibus. Curabitur vel lacus turpis. Ut facilisis metus rutrum, luctus lectus pretium, fringilla metus. Proin eu libero pharetra enim consectetur tempor sed in ex. In hac habitasse platea dictumst. Nam convallis dolor ac ultrices lobortis. Nunc vehicula, nulla at rhoncus molestie, libero sem vulputate dui, facilisis consectetur justo nibh et ante.
          p.
            Donec efficitur sapien sed massa commodo feugiat luctus quis purus. Nunc a turpis vel orci interdum laoreet. Aenean eget lorem eget orci pharetra pulvinar. Morbi eu ipsum posuere, porttitor orci et, vestibulum tortor. Praesent ut ornare ipsum. Mauris dictum, arcu in commodo scelerisque, orci lectus euismod neque, sed venenatis turpis diam interdum quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi elit nulla, scelerisque in lacinia vel, egestas in mi. Suspendisse commodo nec nisl ac aliquam. Mauris in tellus nunc. Integer tellus felis, placerat at massa id, lacinia sollicitudin odio. Proin justo metus, sodales et mi at, molestie ultricies velit. Nunc eu facilisis orci. Donec iaculis, lacus sed bibendum dapibus, augue velit ultrices est, in consequat justo lorem eget tortor. Suspendisse nec mollis mi. Curabitur sagittis lacus velit, eu tempor ligula gravida non.
        
      section.full-image
        img(src="https://www.placecage.com/1200/675" alt="nick cage")
      
      section.two-column
        .two-column__heading
          h2.project-page__title-secondary COHERENCE VS CONSISTENCY
          span.sub-head CROSS PLATFORM
        
        .two-column__description
          p.
            Cras pellentesque aliquet bibendum. Nulla rutrum posuere pharetra. Phasellus posuere arcu sit amet tempor accumsan. In volutpat pretium consequat. Suspendisse aliquam viverra finibus. Curabitur vel lacus turpis. Ut facilisis metus rutrum, luctus lectus pretium, fringilla metus. Proin eu libero pharetra enim consectetur tempor sed in ex. In hac habitasse platea dictumst. Nam convallis dolor ac ultrices lobortis. Nunc vehicula, nulla at rhoncus molestie, libero sem vulputate dui, facilisis consectetur justo nibh et ante.
          p.
            Donec efficitur sapien sed massa commodo feugiat luctus quis purus. Nunc a turpis vel orci interdum laoreet. Aenean eget lorem eget orci pharetra pulvinar. Morbi eu ipsum posuere, porttitor orci et, vestibulum tortor. Praesent ut ornare ipsum. Mauris dictum, arcu in commodo scelerisque, orci lectus euismod neque, sed venenatis turpis diam interdum quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi elit nulla, scelerisque in lacinia vel, egestas in mi. Suspendisse commodo nec nisl ac aliquam. Mauris in tellus nunc. Integer tellus felis, placerat at massa id, lacinia sollicitudin odio. Proin justo metus, sodales et mi at, molestie ultricies velit. Nunc eu facilisis orci. Donec iaculis, lacus sed bibendum dapibus, augue velit ultrices est, in consequat justo lorem eget tortor. Suspendisse nec mollis mi. Curabitur sagittis lacus velit, eu tempor ligula gravida non.
        
      section.full-image
        img(src="https://www.placecage.com/1200/675" alt="nick cage")
    
    .next-project.office
      a(href="/project.html")        
        span View Next Project
        span.title MICROSOFT OFFICE 365

    include footer