@import 'base/variables';
@import 'base/typography';
@import 'base/global';
@import 'base/animations';
@import 'base/slider';
@import 'home';
@import 'nav';
@import 'footer';
@import 'project';

body {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none !important;
}

.page-loaded {
  visibility: visible;
  opacity: 1;
}