footer {
    padding: 20px 24px;
    font-family: Roboto;
    font-size: 10px;
    letter-spacing: -0.35px;
    color: #2b2b2b;
    display: flex;
    box-sizing: border-box;
    width: 100vw;

    .copyright {
        flex: 1;
        display: flex;
        align-items: center;

        .name {
            font-weight: 900;
            font-style: italic;
        }
    }

    .social {
        > a {
            display: block;
            width: 18px;
            height: 18px;
            padding: 18px;
            float: right;
        }
    }

    @media(min-width: $tablet) {
        padding: 20px 60px;
    }
}