.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;

  picture, img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 200% 200%;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 200% 200%;
  }
}

#intro {
  display: grid;
  align-items: center;
  justify-content: center;

  .background {

    &:before {
      background: linear-gradient(165deg, #fccf3a 0%, #de791e 43%, #ea5a6f 100%);
      animation: 10s bkgGradient ease infinite;
    }
  
    &:after {
      background: linear-gradient(165deg, #fccf3a 0%, #de791e 43%, #ea5a6f 100%);
      opacity: .65;
      animation: 10s bkgGradient ease infinite;
    }
  }
  
  h1 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.56px;
    text-align: center;
    color: white;
    max-width: 450px;


    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-rows: min-content; */
    margin: 0;

    .intro-text {
      font-size: 14px;
      padding-bottom: 15px;
      display: inline-block;
      position: relative;
      align-self: self-end;

      &:after {
        content: '';
        display: inline-block;
        height: 2px;
        width: 70%;
        background: white;
        position: absolute;
        bottom: 0;
        left: 15%;
      }
    }

    .primary-text {
      font-size: 82px;
      font-weight: 900;
      font-style: italic;
      line-height: 0.77;
      letter-spacing: -2.89px;
      padding-top: 30px;
      transform: rotate(-5deg);
    }

    .disclaimer {
      font-size: 12px;
      font-style: italic;
      line-height: 1.21;
      letter-spacing: -0.49px;
      margin: 0;
      align-self: self-end;
      line-height: 1.42;
    }

    > span {
      display: block;
    }

    @media (min-width: $tablet) {
      display: block;
      height: initial;
      box-sizing: content-box;
      
      .intro-text {
        font-size: 16px;
      }

      .disclaimer {
        font-size: 14px;
        margin-top: 100px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 140%;
        height: 140%;
        left: -20%;
        top: -20%;
        /* background: #b3003263; */
        /* background: rgba(0, 0, 0, 0.4); */
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-blend-mode: multiply;
        filter: blur(117px);
        z-index: -1;
        /* border-radius: 50%; */
        // opacity: 1;
        animation: blurIn 1s ease;
      }
    }
  }
}
  
.slide {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  background: $border;
  overflow: hidden;

  &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: 50vh;
    background: black;
    position: absolute;
    left: 0;
    transition: 1s transform cubic-bezier(0.09, 0.53, 0.36, 1);
  }

  &:before {
    top: 0;
    transform-origin: top;
  }

  &:after {
    bottom: 0;
    transform-origin: bottom;
  }

  > * {
    transform: translateY(100px);
    transition: transform 1s ease;
  }
  &.in-view {
    &:before, &:after {
      transform: scaleY(0);
      transition: 1s transform cubic-bezier(0.09, 0.53, 0.36, 1);
    }

    > * {
      transform: translateY(0);
    }

    .project-title {
    
      h2 {
      }
    }

    .project-title:before {
      // animation: bounce 1s cubic-bezier(0.4, 0.57, 0, 1.45);
      animation: bounce 1s ease-in-out;
      border-radius: 0;
      transform: translateX(0) scale(1, 1);
    }

  }
}

.project-title {
  color: white;
  justify-self: center;
  text-align: center;
  position: relative;
  margin: 50px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  transform: translateX(-100%);

  &.block-style {
    background: black;
    padding: 125px 35px 25px 35px;

    .project-title__link {
      text-align: right;

      h2 {
        max-width: 340px;
        display: inline-block;
        overflow-wrap: break-word;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: white;
    text-align: right;

    h2 > span {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.56px;
      display: block;
    }
  }

  @media (min-width: $tablet) {
    width: 600px;
    padding: 0;
  }
}

#office .background {
  animation: gentleScale 5s infinite alternate-reverse ease;

  &:before {
    background-image: linear-gradient(165deg, #3acffcad 0%, #de1e7245 43%, #5aeabb61 100%);
    mix-blend-mode: hard-light;
    animation: 10s bkgGradient ease infinite;
  }

  &:after {
    background-image: linear-gradient(165deg, #3acffcad 0%, #de1e7245 43%, #5aeabb61 100%);
    opacity: .65;
    animation: 10s bkgGradient ease infinite;
  }
}

#tmobile {
  
  .project-title__link {
    color: #e20074;
  }
}

// webp backups

// .no-webp {
//   #intro .background {
//     background: url('/assets/images/bkg-drawing.jpg') center center;
//   }
//   #office .background {
//     background: url('/assets/images/microsoft-bkg-2.png') center center;
//   }
//   #azure .background {
//     background: url('/assets/images/azure-bkg.png') center right;
//   }
//   #tmobile .background {
//     background: url('/assets/images/tmobile-bkg.png') center right;
//   }
//   #xbox .background {
//     background: url('/assets/images/xbox-bkg.png') center right;
//   }
// }