nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s background ease;

    &:hover {
        background: rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-blend-mode: multiply;
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(0);
        transform-origin: top right;
        transition: .5s all ease;
        z-index: -1;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 40px);
        left: 20px;
        bottom: 0;
        height: 1px;
        background: white;
    }

    .logo {
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: -0.49px;
        color: #ffffff;
    }

    #nav-trigger {
        width: 50px;
        height: 50px;
        padding: 20px;
        border: none;
        background: none;
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 2;

        @media (min-width: $tablet) {
            top: 0;
            right: 45px;
            padding: 15px;
        }

        &:hover {
            &:before {
                top: 18px;
            }
            &:after {
                top: 27px;
            }
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: white;
            position: absolute;
            right: 15px;
            top: 20px;
            transition: .3s all ease;
        }
        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: white;
            position: absolute;
            right: 15px;
            top: 25px;
            transition: .3s all ease;

        }
    }

    &.open {
        width: 100vw;
        height: 100vh;

        &:before {
            transform: scale(1);
        }

        #nav-trigger:before {
            transform: rotate(45deg);
            background: black;
        }
        #nav-trigger:after {
            transform: rotate(-45deg);
            top: 20px;
            background: black;
        }

        #nav-trigger:hover {
            &:before {
                top: 20px;
            }
            &:after {
                top: 20px;
            }
        }

        .nav-links {
            animation: fadeIn 1s ease;
        }
    }

    .nav-links {
        list-style: none;
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;

        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;

        li > a {
            color: black;
            font-weight: 900;
            font-size: 24px;
            text-decoration: none;
            display: block;
            padding: 10px;

            &:hover, &:active, &:focus {
                text-decoration: underline;
            }
        }
    }

    @media (min-width: $tablet) {
        padding: 20px 60px;

        &:after {
            width: calc(100% - 120px);
            left: 60px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: .01;
    }

    to {
        opacity: 1;
    }
}